@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3f3f3;
    --btn-background: #f3f3f3;
    --icon: #505050;
  }
  h2 {
    @apply font-semibold text-xl sm:text-2xl;
  }
  input::placeholder {
    @apply text-font-grey;
  }
  input[type="radio"] {
    @apply appearance-none w-4 h-4 rounded-full mr-2 border border-neutral-400 checked:border-blue-400 checked:border-4 transition-all;
  }
  input[type="checkbox"] {
    @apply appearance-none cursor-pointer;
  }
  main {
    @apply mx-auto my-0 max-w-7xl;
  }
  th {
    @apply font-medium;
  }
  .outer-box {
    @apply rounded-2xl shadow-out hover:shadow-in flex items-center justify-center;
  }
  .icon {
    @apply w-12 h-12 flex items-center justify-center;
  }
  .inner-box {
    @apply rounded-2xl shadow-in bg-background;
  }
  .btn-active {
    @apply shadow-in text-font-hover;
  }
  .tab-btn-active {
    @apply w-1/4 border-b-4 py-3;
  }
  .total-price-box {
    @apply *:first:text-lg text-center;
  }
  .order-form-label {
    @apply flex justify-between items-center border-b border-gray-300;
  }
  .order-form-input {
    @apply w-4/5 h-10 my-4 border border-gray-300 px-2;
  }
  .order-form-input-tel {
    @apply w-full h-10 my-4 border border-gray-300 px-2;
  }
  .a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  .ellipsis-1 {
    @apply overflow-hidden whitespace-nowrap text-ellipsis break-all;
  }
  .slide-left {
    -webkit-animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-left {
    0% {
      transform: translate(100%, 40%);
    }
    100% {
      transform: translate(-10%, 40%);
    }
  }
  .slide-right {
    -webkit-animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-right {
    0% {
      transform: translate(-10%, 40%);
    }
    100% {
      transform: translate(200%, 40%);
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}
