@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3f3f3;
    --btn-background: #f3f3f3;
    --icon: #505050;
  }
  input::placeholder {
    @apply text-font-grey;
  }
  .button {
    @apply rounded-xl shadow-out hover:shadow-in w-12 h-12 flex items-center justify-center;
  }
  .icon {
    @apply w-12 h-12 flex items-center justify-center;
  }
  .input {
    @apply shadow-in;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}
